body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	color: #fff;
	background-color: #1c1d20;
}

.container {
	position: relative;
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.button {
	display: inline-block;
	width: 110px;
	padding: 15px 40px;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 35px;
	cursor: pointer;
	outline: none;
}
.button--yellow {
	color: #000;
	background: #f1c40f;
	border-color: #f1c40f;
}
