.top-menu {
	height: 125px;
}

.top-menu__logo {
	display: inline-block;
	margin: 30px 0 0;
}

.top-menu__items {
	float: right;
	margin: 60px 0 0;
	list-style: none;
}

.top-menu__item {
	display: inline-block;
	margin: 0 0 0 30px;
}

.top-menu__item-link {
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #7f7f7f;
}

.top-menu__item-link--active,
.top-menu__item-link:hover {
	color: #fff;
}
