.why-us {
	position: relative;
	max-width: 1530px;
	margin: 0 auto 140px;
	padding: 1px 0 70px;
	text-align: center;
	background: #111213;
}

.why-us__title {
	position: relative;
	width: 370px;
	margin: -30px auto 35px;
	font: 700 60px "PT Sans", sans-serif;
	text-transform: uppercase;
}

.why-us__title::after {
	content: "";
	position: absolute;
	top: 89px;
	left: 149px;
	width: 70px;
	height: 0;
	border-bottom: 1px solid #f1c40f;
}

.why-us__desc {
	width: 470px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 1.6;
	text-align: center;
}

.why-us__items {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

.why-us__item {
	position: relative;
	display: inline-block;
	width: 31%;
	margin: 0 1%;
	padding: 165px 0 0 0;
	vertical-align: top;
}

.why-us__item::after {
	content: "";
	position: absolute;
	background: url(../img/thunder__why-us.png) 0 0 no-repeat;
}

.why-us__item--quality::after {
	top: 45px;
	left: 50%;
	width: 63px;
	height: 62px;
	margin: 0 0 0 -31px;
}

.why-us__item--faster::after {
	top: 63px;
	left: 50%;
	width: 63px;
	height: 28px;
	margin: 0 0 0 -31px;
	background-position: -63px -19px;
}

.why-us__item--individual::after {
	top: 44px;
	left: 50%;
	width: 41px;
	height: 64px;
	margin: 0 0 0 -20px;
	background-position: -127px -1px;
}

.why-us__item-name {
	position: relative;
	margin: 0 0 16px;
	font-size: 18px;
	text-transform: uppercase;
}

.why-us__item-name::after {
	content: "";
	position: absolute;
	top: -30px;
	left: 50%;
	width: 30px;
	height: 0;
	margin: 0 0 0 -15px;
	border-bottom: 1px solid #f1c40f;
}

.why-us__item-text {
	font-size: 14px;
	line-height: 1.8;
}
